---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true 
---

{% include base_path %}

<!-- # {{ site.data.cv.basics.name }}
**{{ site.data.cv.basics.label }}**  
Email: {{ site.data.cv.basics.email }}    -->

<h2>Work Experience</h2>
<hr />
{% for work in site.data.cv.work %}
<div class="list__item">
  <article class="archive__item"> 
    <h3 class="archive__item-title">{{ work.position }}</h3>
    <p class="archive__item-excerpt"><strong>{{ work.company }}</strong> | <em>{{ work.startDate }}{% if work.endDate %} - {{ work.endDate }}{% else %} - Present{% endif %} | </em>{% if work.summary %} {{ work.summary }}{% endif %}</p>
  </article>
</div>
{% endfor %}


<h2>Education</h2>
<hr />
{% for edu in site.data.cv.education %}
<div class="list__item">
  <article class="archive__item">
    <h3 class="archive__item-title">{{ edu.studyType }} in {{ edu.area }}</h3>
    <p class="archive__item-excerpt"><strong>{{ edu.institution }}</strong> | <em>{{ edu.startDate }}{% if edu.endDate %} - {{ edu.endDate }}{% else %} - Present{% endif %} | </em>{% if edu.summary %} {{ edu.summary }}{% endif %}</p>
  </article>
</div>
{% endfor %}


{% if site.data.cv.experience %}
<h2>Project Experience</h2>
<hr />
{% for exp in site.data.cv.experience %}
<div class="list__item">
  <article class="archive__item">
    <h3 class="archive__item-title">{{ exp.name }}</h3>
    <p class="archive__item-excerpt"><strong>{{ exp.organization }}</strong> | <em>{{ exp.startDate }}{% if exp.endDate %} - {{ exp.endDate }}{% else %} - Present{% endif %} | </em>{% if exp.website %} | <a href="{{ exp.website }}" target="_blank">Website</a>{% endif %}</p>
  </article>
</div>
{% endfor %}
{% endif %}


{% if site.data.cv.skills %}
<h2>Skills</h2>
<hr />
{% for skill in site.data.cv.skills %}
<div class="list__item">
  <article class="archive__item">
    <h3 class="archive__item-title">{{ skill.name }}</h3>
    <p class="archive__item-excerpt">{{ skill.keywords | join: ", " }}</p>
  </article>
</div>
{% endfor %}
{% endif %}

{% if site.data.cv.awards %}
<h2>Awards & Honors</h2>
<hr />
{% for award in site.data.cv.awards %}
<div class="list__item">
  <article class="archive__item">
    <h3 class="archive__item-title">{{ award.title }}</h3>
    <p class="archive__item-excerpt">
      <strong>{{ award.awarder }}</strong><br>
      <em>{{ award.date }}</em>
    </p>
    
    {% if award.summary %}
    <p class="archive__item-excerpt">{{ award.summary }}</p>
    {% endif %}
  </article>
</div>
{% endfor %}
{% endif %}


<div style="margin-top: 40px; text-align: center;">
  <a href="{{ base_path }}/assets/cv_2024.pdf" class="btn btn--primary">Download Full CV (PDF)</a>
</div>